/* #root {
  height: 100vh;
} */

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
}

.card-header {
  background: #cbf3f0;
}
div .col d {
  background: green;
  color: #000;
}

/* ul {
} */
.antecentes-familiares-ul-3 {
  list-style: none;
}
.scrollable-container {
  height: 200px;
  overflow-y: auto;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 10px;
  /* background-color: #f5f5f5; */
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.light-green {
  background-color: #d1fde8;
}

.img_doctor {
  width: 400px;
  transition: filter 0.3s ease;
}

.img_doctor:hover {
  filter: drop-shadow(0 0 5px #00000080);
}

.img-photo-login {
  transition: filter 0.8s ease;
}

.img-photo-login:hover {
  filter: drop-shadow(0 0 5px #6c63ff);
}

.welcome-section {
  background-color: #f8f9fa;
  padding: 80px 0;
  text-align: center;
}

.welcome-section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 18px;
  margin-bottom: 30px;
}

.features-section {
  background-color: #ffffff;
  padding: 60px 0;
}

.feature-box {
  text-align: center;
  margin-bottom: 40px;
}

.feature-box i {
  font-size: 48px;
  color: #007bff;
  margin-bottom: 20px;
}

.feature-box h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feature-box p {
  font-size: 18px;
}
