    <div class="card mx-3 mt-3 shadow rounded">
        <h6 class="card-header" id="viewMode">
            Tiempos Records
        </h6>
        <div class="card-body">
            <div class="row">
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-25">Nadador</span>
                        <div class="form-floating w-50">
                            <select class="form-select" id="nadador" name="nadador"
                    style="width: 500px;">
                    <option selected>Seleccione el Nadador</option>
                </select>
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-25">Metros</span>
                        <div class="form-floating w-50">
                            <select class="form-select" id="metros" name="metros"
                    style="width: 500px;">
                    <option selected>Seleccione los metros</option>
                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Patada de Libre</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="PR_L" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Brazada de Libre</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="BR_L" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">T/C de Libre</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="Libre" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Patada de Espalda</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="PR_E" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Brazada de Espalda</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="BR_E" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">T/C de Espalda</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="Espalda" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Patada de Pecho</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="PR_P" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Brazada de Pecho</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="BR_P" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">T/C de Pecho</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="Pecho" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Patada de Mariposa</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="PR_M" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Brazada de Mariposa</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="BR_M" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">T/C de Mariposa</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="Mariposa" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">Combinado Individual</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="CI" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">10 Pruebas</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="pruebas10" readonly />
                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="input-group">
                        <span class="input-group-text w-50">12 Pruebas</span>
                        <div class="form-floating w-50">
                            <input type="text" class="form-control"  id="pruebas12" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  