
<div class="card mx-3 mt-3 shadow rounded">
    <div class="col-6">
        <div class="input-group">
            <span class="input-group-text">Competencia</span>
            <div class="form-floating w-50">
                <select class="form-select" id="selectCompetencia" name="id_competencia"
                    style="width: 500px;">
                    <option selected>Seleccione la Competencia</option>
                </select>
            </div>
        </div>
    </div>
    
</div>
<div class="card mx-3 mt-3 shadow rounded" id="container_competencias">
</div>
<div class="card mx-3 mt-3 shadow rounded" id="container_ganador">
</div>