<div class="card mx-3 mt-3 shadow rounded">
    <h6 class="card-header">
        Tiempos
    </h6>
    <div class="container mt-3" id="container">
        
    </div>
    <div class="container mt-2">
        <div class="rounded p-1 table-responsive">
            <table class="table table-borderless caption-top table-hover" id="dataTable">
                <caption>
                    Lista de Tiempos
                </caption>
                <thead class="table-dark">
                </thead>
            </table>
        </div>
    </div>
</div>

